# Dependencias de Node.js
/node_modules

# Caché de Vite (no necesaria en el repositorio)
/.vite
/.vitepress

# Logs y archivos de depuración
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Variables de entorno
.env
.env.*
!.env.example  # Mantén el archivo de ejemplo en el repositorio

# Configuración del IDE
/.fleet
/.idea
/.vscode

# Cambios para el vendor y composer
/.vendor
composer.lock